.userWrapper {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
}

.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.selectedPage {
    color: sandybrown;
    font-weight: bold;
}

.pagination span {
    cursor: pointer;
}
