.nav {
    grid-area: n;
    background-color: darkcyan;
    padding: 20px;
}

.item {
    color: white;
}

.item a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease all;
}

.item .activeLink {
    color: sandybrown;
    transition: 0.2s ease all;
    font-weight: bold;
}

